# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temporary outputs
output_backup.csv
output_partial.csv
output_new.csv
output_final.csv